.card {
    /* border: 2px solid darkcyan; */
    margin: 1em;
    background-color: lightblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;

    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .1);
}

.likeButton {
    background-color: pink;
    align-self: left;
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deleteButton {
    background-color: lightyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem;
}

.likesCount {
    color: rgb(225, 126, 222)
}
