/* .NewCardFormContainer{
    border: 1px solid blue;
} */
#CardForm {
    padding: 1em;
}

.addCardButton {
    background-color: lightgreen;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-size: x-large;
    color:firebrick;
}

.createCardMessage {
    background-color:#E8F3D6;
}