/* .NewCardFormContainer{
    border: 1px solid blue;
} */
/* #CardForm {
    padding-left: 2em;
}
#newCardHeading {
    padding-left: 2em;
} */

.addCardButton {
    background-color: lightgreen;
    border-radius: 6px;
}


label {
    font-size: x-large;
}