header {
    text-align: center;
}

#mainContainer {
    display: flex;
    flex-direction: column;

}

#upperContainerBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#lowerContainerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#invisibleHeading {
    color: white;
}

#cardItems {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

#cardComponents {
    display: grid;
}